div.gallary{
    float: left;
    width: 180px;
    border: 1px solid #ccc;
    margin: 5px;
}
.gallary:hover{
    border: 1px solid #777;
}
 .gallary img{
    width: 100%;
    height: auto;
 }
.dsec{
    padding: 15px;
    text-align: center;
}
 