div{
    height: 100px;
    width: 100px;
    background-color: saddlebrown;
transition-property:width ;
transition-duration: 2s;
transition-timing-function: linear;
transition-delay:1s ;
   margin: 10px;
}
.div1{
transition-timing-function: linear;
}
.div2{
    transition-timing-function: ease;
    }
    .div3{
        transition-timing-function: ease-in;
        }
        .div4{
            transition-timing-function: ease-out;
            }
            .div5{
                transition-timing-function: ease-in-out;
                }
                div:hover{
width: 300px;
                }
                .div{
                    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
                }