.parent{
    
    position: static;
    height: 600vw;
       
    }
    .child-two{
    
    
    position: relative;
    top: 50px;
    
    } .child-two{
    
    position: fixed;
    left: 60px;
    }
    .child-three{
    
    position: sticky;
    top: 0;
    }.green{
    height: 400px;
    width: 600px;
    background-color: green;
    position: relative;
}
.red{
    height: 300px;
    width: 300px;
    background-color: red;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
 border-radius:50% ;
}