.parent{
    
position: static;
height: 600vw;
   
}
.child-two{


position: relative;
top: 50px;

} .child-two{

position: fixed;
left: 60px;
}
.child-three{

position: sticky;
top: 0;
}
.green{
    height: 400px;
width: 600px;
background-color: green;
}
.red{
    height: 400px;
    width: 400px;
    background-color: red;
}